<header>
  <a href="https://kinopio.club">
    <img src="https://kinopio-email.us-east-1.linodeobjects.com/logo-base.png" width="50"/>
  </a>
  <p>
    <div class="badge info">New Notifications</div>
  </p>
</header>

<main class="notifications">
  <hr/>
  {{#notifications}}
    {{#each .}}
      <div class="notification">
        <div class="row">
          <!-- icon -->
          <img class="icon {{iconClass}}" src="{{icon}}" data-id="icon">
          <!-- user -->
          <span class="badge info" style="background:{{user.color}}" data-id="user">
            <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
            {{ user.name }}
          </span>
          <!-- message -->
          <span data-id="message">
            {{message}}
          </span>
          <!-- space -->
          {{#space}}
            <a class="badge secondary button-badge space-badge" href="{{../spaceUrl}}" data-id="space">
              {{ name }}
            </a>
          {{/space}}
        </div>
        <!-- details -->
        {{#isDetails}}
          <a class="card-badge button-badge" href="{{../url}}" data-id="details">
            {{#../details}}
              {{.}}
            {{/../details}}
            {{#../detailsImage}}
              <div data-id="details-image">
                <img class="notification-image" src="{{.}}">
              </div>
            {{/../detailsImage}}
          </a>
        {{/isDetails}}
        <!-- button -->
        {{#buttonMessage}}
          <div class="row" data-id="button">
            <div class="button">
              <img class="icon {{../iconClass}}" src="{{../icon}}">
              <span>
                {{.}}
              </span>
            </div>
          </div>
        {{/buttonMessage}}

      </div>
    {{/each}}
  {{/notifications}}
  <hr/>
</main>

<footer>
  <p>You've received this email because of activity on your Kinopio spaces. You must be quite cool.</p>
  <p>Questions? Just reply to this email :)</p>
  {{#each unsubscribeSpaces}}
    <p><a href="{{spaceUnsubscribeUrl}}">Unsubscribe from {{spaceName}}</a></p>
  {{/each}}
  <p><a href="{{unsubscribeUrl}}">Unsubscribe from All Notifications</a></p>
</footer>
